<% include head.ejs %>
<title><%= data.member[0].name %> - Match</title>
<h1><%= data.member[0].name %></h1>
<h1><%= data.member[0].age %></h1>
<p>City: <%= data.member[0].city %></p>
<p><%= data.member[0].bio %></p>
<p>My favorite songs: <%= data.member[0].favMusic %></p>
<p><%= data.member[0].question %></p>
<% include tail.ejs %>